recursive-include PySide *.pyd *.dll *.exe *.lib
recursive-include PySide/plugins **
recursive-include PySide/imports **
recursive-include PySide/translations **
recursive-include PySide/include **
recursive-include PySide/typesystems **
recursive-include PySide/examples **
recursive-include pysideuic/widget-plugins **
